asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
ckeditor-uploader==0.0.1
coverage==7.10.1
Django==5.2.3
django-ckeditor==6.7.3
django-ckeditor-5==0.2.18
django-feedparser==0.2.1
django-js-asset==3.1.2
feedparser==6.0.11
idna==3.10
pillow==11.3.0
python-dotenv==1.1.1
requests==2.32.4
sgmllib3k==1.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
